@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">TO</h1>
    <h1 class="display-4">HOME</h1>
<h1 class="display-4">College</h1>

    <h1 class="display-4">HOUSE</h1>
    <h1 class="display-4">building</h1>
    <h1 class="display-4">Constructions</h1>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
